<%# 
  Bookings.ejs
  Displays a user's event booking history.
%>

<%- include('../Partials/header') %>
<h2 class="mb-4">My Bookings</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% bookings.forEach(booking => { %>
      <tr>
        <td><%= booking.eventTitle %></td>
        <td><%= booking.date %></td>
        <td><%= booking.status %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../Partials/footer') %>